<h1>push-receiver</h1>
<form id="toggle-subscription">
	<input type="hidden" name="subscription" value="">
	<label for="name">Your name</label>
	<input type="text" name="name">
	<input type="submit" value="Enable notifications">
</form>
